{{#if addNewPost}}
<div>
  <form>
    <div  class="form-group">
      <label for="type">Title</label>
      {{input value=title class="form-control" id="title"}}
    </div>
    <div  class="form-group">
      <label for="type">Comment</label>
      {{input value=body  class="form-control" id="body"}}
    </div>
    <div  class="form-group">
      <label for="type">About the comment</label>
      {{input value=teaser  class="form-control" id="teaser"}}
    </div>
    <div  class="form-group">
      <label for="owner">Name</label>
      {{input value=owner class="form-control" id="owner"}}
    </div>
    <div  class="form-group">
      <label for="image">Image URL</label>
      {{input value=image class="form-control" id="image"}}
    </div>
       <button {{action 'savePost1'}}>Save</button>
  </form>
</div>
{{else}}
<button class="btn btn-success"{{action 'postFormShow'}}>New Post</button>

{{/if}}
